body {
    font-family: 'Albert Sans';
}

/* Light Theme */
/* Light Theme */
[data-bs-scheme="light"] {
    background-color: #f2f8f7;
}

.jumbotron-container.light {
    background-color: #f2f8f7;
}

.jumbotron.light {
    background-color: #f2f8f7;
}

.jumbotron p.light {
    color: #0e2521;
}

.jumbotron h2.light {
    color: #235c53;
}

.jumbotron .btn-primary.light {
    border-color: #3b9b8b;
    background-color: #3b9b8b;
    color: #ffffff;
}

.jumbotron .btn-primary.light:hover {
    border-color: #3b9b8b;
}

.custom-manage-card.light .card-header {
    text-align: center;
    background-color: #f2f8f7;
    border: none;
    color: #333333;
}
.custom-manage-card{
    border: none;
}

.card-header .btn-primary.light {
    background-color: #3b9b8b;
    border: none;
    color: whitesmoke;
}

.card-header .btn-primary.light:hover {
    background-color: #bce6df;
    color: whitesmoke;
}

.custom-card-body.light {
    background-color: #f2f8f7;
    text-align: center;
    border: none;
}

.booked-card.light {
    background: rgba( 152, 216, 205, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #0e2521;
}
.booked-card .btn-info{
    background-color: #235c53;
    color: #ffffff;
    border: none;
}

/* Dark Mode Styles */
[data-bs-scheme="dark"] {
    background-color: #0e2521;
}

.jumbotron-container.dark {
    background-color: #0e2521;
}

.jumbotron.dark {
    background-color: #0e2521;
}

.jumbotron p.dark {
    color: #f2f8f7;
}

.jumbotron h2.dark {
    color: #f2f8f7;
}

.jumbotron .btn-primary.dark {
    border-color: #1e5749;
    background-color: #1e5749;
    color: #f2f8f7;
}

.jumbotron .btn-primary.dark:hover {
    border-color: #1e5749;
}

.custom-manage-card.dark .card-header {
    text-align: center;
    background-color: #0e2521;
    border: none;
    color: #ffffff;
}
.custom-manage-card.dark {
    border: none;
}

.card-header .btn-primary.dark {
    background-color: #1e5749;
    color: whitesmoke;
    border: none;
}

.card-header .btn-primary.dark:hover {
    background-color: #1e5749;
    color: whitesmoke;

}

.custom-card-body.dark {
    background-color: #0e2521;
    color: #ffffff;
    text-align: center;
    border-color: #0e2521;
}

.booked-card.dark {
    background: rgba( 152, 216, 205, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #f2f8f7
}


.test{
    --text: #0e2521;
    --background: #f2f8f7;
    --primary: #235c53;
    --secondary: #bce6df;
    --accent: #3b9b8b;
    
    
    --text: #f2f8f7;
    --background: #0e2521;
    --primary: #235c53;
    --secondary: #030707;
    --accent: #98d8cd;
    
    
    --text: #1a090e;
    --background: #ffffff;
    --primary: #1e5749;
    --secondary: #c2e1e9;
    --accent: #39a755;
    
    
    --text: #ffffff;
    --background: #1a090e;
    --primary: #1e5749;
    --secondary: #050c0e;
    --accent: #9cddac;
    }